
  /* Define variáveis CSS para cores principais */
  :root {
    --main-color: #268df3; /* Cor principal para a sombra inicial */
    --highlight-color: rgba(0, 200, 0, 0.2); /* Cor destacada para a sombra durante a animação */
  }

  /* Aplica a animação de pulso ao elemento com ID "e_0000" */
  #e_0000 {
    animation: pulse 2s infinite;
  }

  /* Define a animação de pulso usando a notação de keyframes */
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--main-color); /* Sombra inicial sem desfoque */
    }
    80% {
      box-shadow: 0 0 20px 0 var(--highlight-color); /* Sombra destacada com desfoque de 20px */
    }
    100% {
      box-shadow: 0 0 0 0 var(--highlight-color); /* Retorna à sombra sem desfoque no final */
    }
  }
